@model Book;

@{
    ViewData["Title"] = "New Book Confirmation";
}

<div class="text-center">
    <h1 class="display-4">Confirmation</h1>
    <p>A new book has been added to the database:</p>
    <p>'@Model.Name' by '@Model.Author' has successfully been added to the database with '@Model.Copies' copies on: </p>
    <p>'@Model.LibraryAcquisitionDate'</p>
    <p>With an ISBN number of: '@Model.Isbn'.</p>
</div>