@model List<User>;

@{
  ViewData["Title"] = "New User Confirmation";
}

<div class="text-center">
  <h1 class="display-4">Confirmation</h1>
  <p>A new user has been added to the database:</p>
  @foreach (User user in Model)
  {
    <p>
      '@user.FirstName @user.LastName' has successfully been added to the database. Further details are below:
    </p>
    <p>ID: @user.Id</p>
    <p>Date of birth: @user.DateOfBirth</p>
    <p>Role: @user.Role</p>
    <p>Password: @user.Password</p>
  }
</div>
